<!-- start body classes fix --> <div class="login form-fixing">

<!-- BEGIN navbar -->
<div class="nav-bar navbar-fixed-top">
    <div class="containerfluid">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="" routerLink="/">
                <span class="B">B</span><span>Buildaily</span>
            </a>
        </div>
        <!-- END LOGO -->
        <div class="clearfix"></div>
    </div>
</div>
<!-- END navbar -->

<!-- START CONTENT -->
<section class="main-content">
    <div class="container-fluid">
        <div class="row">
            
            
            <div class="col-sm-4 hidden-xs">
                <div class="right-content text-center">
                    <img src="../assets/pages/img/general/lock.png" alt="">
                    <h3>One account to control <br> them all</h3>
                    <p class="">Create one account, and control all your construction apps from one place</p>
                    <div class="row text-center">
                        <div class="col-xs-4">
                            <div class="b-wrapper first">
                                B
                            </div>
                            <span class="market">Marketplace</span>
                        </div>
                        <div class="col-xs-4">
                            <div class="b-wrapper middle">
                                B
                            </div>
                            <span class="manage">Manage</span>
                        </div>
                        <div class="col-xs-4">
                            <div class="b-wrapper last">
                                B
                            </div>
                            <span class="connect">Connect</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-8 col-sm-pull-4">
                <div class="left-content text-center">
                    
                    <h1>Login to your account</h1>
                    
                    <div class="clearfix"></div>
                    
                    <div class="form-table activate login text-center">
                        <div class="form text-left">
                            <div class="form-body">
                                <div class="form-group first">
                                    <label class="control-label">Email</label>
                                        <input type="email" class="form-control" placeholder="">
                                </div>
                                <div class="form-group last">
                                    <label class="control-label">Password</label><span class="show">Show</span>
                                        <input type="password" class="form-control password-input">
                                        <span class="forgot">
                                            <a href="#">Forgot password?</a>
                                        </span>
                                </div>
                                <button class="continue" routerLink="/profile">Login</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="footer text-center">
                        <p>We care about security</p>
                        
                    </div>
                    
                </div>
            </div>
            
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- END CONTENT -->

<!-- end body classes fix --> </div>