<!-- start body classes fix --> <div class="first-step">

<!-- START CONTENT -->
<section class="main-content">
  <div class="container-fluid">
      <div class="row">
         
          <div class="col-xs-12">
              <div class="left-content text-center">
                 
                  <h1>Create new account</h1>
                  
                  <div class="step-wrapper hidden-xs">
                      <div class="col-sm-4 mt-step-col active current title-bold rakam not-img">
                          <div class="mt-step-number bg-white">
                              <span class="active-2">1</span>
                          </div>
                          <div class="mt-step-title uppercase font-grey-cascade">Step 1</div>
                          <div class="mt-step-content font-grey-cascade">Choose your plan</div>
                      </div>
                      <div class="col-sm-4 mt-step-col last not-img greyed lines">
                          <div class="mt-step-number bg-white">
                              <span class="span-last">2</span>
                          </div>
                          <div class="mt-step-title uppercase font-grey-cascade">Step 2</div>
                          <div class="mt-step-content font-grey-cascade">Your company info</div>
                      </div>
                      <div class="col-sm-4 mt-step-col last not-img greyed">
                          <div class="mt-step-number bg-white">
                              <span class="span-last">3</span>
                          </div>
                          <div class="mt-step-title uppercase font-grey-cascade">Step 3</div>
                          <div class="mt-step-content font-grey-cascade">Your personal info</div>
                      </div>
                      <div class="clearfix"></div>
                  </div>

                  
                  <div class="form-table text-center">
<!--                        <span class="back"><i class="fa fa-arrow-left"></i>Back</span>-->
                      <h2>Step 1/3: Choose your plan</h2>
                      <div class="tabs">
                          <span class="first-tab active">Monthly</span>
                          <span class="second-tab">Quarterly</span>
                          <span class="last-tab">Annually</span>
                          <div class="clearfix"></div>
                      </div>
                      <div class="row">
                          <div class="col-sm-4">
                              <div class="form text-center">
                                  <h2>Basic</h2>
                                  <p>Best for small businesses</p>
                                  <ul class="text-left">
                                      <li>Fixie tote bag ethnic keytar neutr vinyl American Appar.</li>
                                      <li>Tousled food truck polaroid, salv.</li>
                                      <li>Synth polaroid bitters chillwave.</li>
                                      <li>Bushwick meh Blue Bottle pork bel.</li>
                                      <li>Retro occupy organic, stumptown shabby chic pour-over.</li>
                                  </ul>
                                  <button>Start 14 days free trial</button>
                              </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="form text-center most">
                                  <span class="most-popular most-popular-t">Most popular</span>
                                  <span class="most-popular most-popular-img">
                                      <img src="../assets/pages/img/first-step/circle.png" alt="">
                                  </span>
                                  <h2>Premium</h2>
                                  <p>Best for medium companies</p>
                                  <ul class="text-left">
                                      <li>Fixie tote bag ethnic keytar neutr vinyl American Appar.</li>
                                      <li>Tousled food truck polaroid, salv.</li>
                                      <li>Synth polaroid bitters chillwave.</li>
                                      <li>Bushwick meh Blue Bottle pork bel.</li>
                                      <li>Retro occupy organic, stumptown shabby chic pour-over.</li>
                                  </ul>
                                  <button>Start 14 days free trial</button>
                              </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="form text-center">
                                  <h2>Enterprise</h2>
                                  <p>For big players</p>
                                  <ul class="text-left">
                                      <li>Fixie tote bag ethnic keytar neutr vinyl American Appar.</li>
                                      <li>Tousled food truck polaroid, salv.</li>
                                      <li>Synth polaroid bitters chillwave.</li>
                                      <li>Bushwick meh Blue Bottle pork bel.</li>
                                      <li>Retro occupy organic, stumptown shabby chic pour-over.</li>
                                  </ul>
                                  <button>Start 14 days free trial</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  
                  <div class="footer text-center">
                      <p>We care about security</p>
                  </div>
                  
                  <section class="faq text-left hidden-xs">
                      <h2>FAQs</h2>
                      <div class="row">
                          <div class="col-sm-6 hidden-xs">
                              <div class="paragraph">
                                  <p>Retro occupy organic, stumptown shabby?</p>
                                  <p>Hella narwhal Cosby sweater McSweeney's, salvia kitsch before they sold out High Life. Umami tattooed sriracha meggings pickled Marfa Blue Bottle High Life next level four.</p>
                              </div>
                          </div>
                          <div class="col-sm-6 hidden-xs">
                              <div class="paragraph">
                                  <p>Banjo tote bag bicycle rights, High Li ?</p>
                                  <p>Hella narwhal Cosby sweater McSweeney's, salvia kitsch before they sold out High Life. </p>
                              </div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="col-sm-6 hidden-xs">
                              <div class="paragraph">
                                  <p>In the tumultuous business of cutting ?</p>
                                  <p>Hella narwhal Cosby sweater McSweeney's, salvia kitsch before they sold out High Life. Umami tattooed sriracha meggings pickled Marfa Blue Bottle High Life next level four.Cosby sweater McSweeney's, salvia kitsch before they sold out High Life. Cosby sweater McSweeney's, salvia kitsch before they sold out High Life.</p>
                              </div>
                          </div>
                          <div class="col-sm-6 hidden-xs">
                              <div class="paragraph">
                                  <p>Portland ugh fashion axe Helvetica, YO ?</p>
                                  <p>Hela narwhal Cosby sweater McSweeney's, salvia kitsch before they sold out High Life. Umami tattooed sriracha meggings pickled Marfa Blue Bottle High Life next level four.Cosby sweater.</p>
                              </div>
                          </div>
                      </div>
                  </section>
                  
              </div>
          </div>
          
          <div class="clearfix"></div>
      </div>
  </div>
</section>
<!-- END CONTENT -->

<!-- end body classes fix --> </div>