<!-- BEGIN HEADER -->
<div class="nav-bar navbar-fixed-top">
  <div class="containerfluid">
          <!-- BEGIN LOGO -->
          <div class="page-logo">
              <a href="">
                  <span class="B">B</span><span>Buildaily</span>
              </a>
          </div>
          <!-- END LOGO -->
          <!-- START LOGIN -->
          <div class="page-login">
              <ul class="" style="display:inline-block">
                  <li class="dropdown dropdown-language">
                      <a href="javascript:;" class="dropdown-toggle grey-color" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                          <img alt="" src="../assets/pages/img/general/language.png">
                          <span class="langname"> En </span>
                          <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu language-dropdown-menu dropdown-menu-default">
                          <li>
                              <a href="javascript:;">
                                  Ar </a>
                          </li>
                      </ul>
                  </li>
              </ul>
              <span>Already have an account?</span>
              <a href="">
                  <span>LOGIN</span>
              </a>
          </div>
          <!-- END LOGIN -->
          <div class="clearfix"></div>
  </div>
</div>
<!-- END HEADER -->

<router-outlet></router-outlet>
