<!-- start body classes fix --> <div class="step-two">

<!-- BEGIN navbar -->
<div class="nav-bar navbar-fixed-top">
    <div class="containerfluid">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="" routerLink="/">
                <span class="B">B</span><span>Buildaily</span>
            </a>
        </div>
        <!-- END LOGO -->
        <!-- START LOGIN -->
        <div class="page-login">
            <span>Already have an account?</span>
            <a href="" routerLink="/login">
                <span>LOGIN</span>
            </a>
        </div>
        <!-- END LOGIN -->
        <div class="clearfix"></div>
    </div>
</div>
<!-- END navbar -->

<!-- START CONTENT -->
<section class="main-content">
    <div class="container-fluid">
        <div class="row">
           
           
            <div class="col-sm-4 hidden-xs">
                <div class="right-content text-center">
                    <img src="./assets/pages/img/general/lock.png" alt="">
                    <h3>One account to control <br> them all</h3>
                    <p class="">Create one account, and control all your construction apps from one place</p>
                    <div class="row text-center">
                        <div class="col-xs-4">
                            <div class="b-wrapper first">
                                B
                            </div>
                            <span class="market">Marketplace</span>
                        </div>
                        <div class="col-xs-4">
                            <div class="b-wrapper middle">
                                B
                            </div>
                            <span class="manage">Manage</span>
                        </div>
                        <div class="col-xs-4">
                            <div class="b-wrapper last">
                                B
                            </div>
                            <span class="connect">Connect</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-8 col-sm-pull-4">
                <div class="left-content text-center">
                   
                    <h1>Create new account</h1>
                    
                    <div class="step-wrapper hidden-xs">
                        <div class="col-sm-4 mt-step-col first done img">
                            <div class="mt-step-number bg-white">
                                <img src="./assets/pages/img/steps/done.png" alt="">
                            </div>
                            <div class="mt-step-title uppercase font-grey-cascade">Step 1</div>
                            <div class="mt-step-content font-grey-cascade">Choose your plan</div>
                        </div>
                        <div class="col-sm-4 mt-step-col active lines current title-bold rakam not-img">
                            <div class="mt-step-number bg-white">
                                <span class="active-2">2</span>
                            </div>
                            <div class="mt-step-title uppercase font-grey-cascade">Step 2</div>
                            <div class="mt-step-content font-grey-cascade">Your company info</div>
                        </div>
                        <div class="col-sm-4 mt-step-col last not-img greyed">
                            <div class="mt-step-number bg-white">
                                <span class="span-last">3</span>
                            </div>
                            <div class="mt-step-title uppercase font-grey-cascade">Step 3</div>
                            <div class="mt-step-content font-grey-cascade">Your personal info</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="form-table text-center">
                        <span class="back" routerLink="/signup"><img src="./assets/pages/img/steps/arrow-back-material.png" alt="">Back</span>
                        <h2>Step 2/3: Your company info</h2>
                        <div class="form text-left">
                            <div class="form-body">
                                <div class="form-group first">
                                    <label class="control-label">Your company name</label>
                                        <input type="text" id="company-name" [(ngModel)]="companyName" class="form-control" placeholder="eg. ACME">
                                        <span class="help-block">Enter your first and last name</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label num">Phone no.</label>
                                        <div class="input-group">
                                            <input class="input-group-addon" value="+ 20">
                                            <input type="text" class="form-control full-egypt-num" placeholder="">
                                        </div>
                                        <div class="clearfix"></div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="multiple" class="control-label">Select your category</label>
                                    <select id="multiple" class="form-control">
                                        <optgroup label="Construction 1">
                                            <option value="CA">Option 1</option>
                                            <option value="NV">Option 2</option>
                                            <option value="OR">Option 3</option>
                                            <option value="WA">Option 4</option>
                                        </optgroup>
                                        <optgroup label="Construction 2">
                                            <option value="CA">Option 1</option>
                                            <option value="NV">Option 2</option>
                                            <option value="OR">Option 3</option>
                                            <option value="WA">Option 4</option>
                                        </optgroup>
                                    </select>
                                    <span class="help-block">This is your company’s main category</span>
                                    </div>
                                
                                
                                <div class="form-group last">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                    <input type="checkbox" name="send" value="send">
                                    It's ok to send me (very occasional) email about Buildaily
                                    <span class="checking"></span>
                                </label></div>
                                <a href="#" routerLink="/signup-3"><button class="continue" (click)="getCompanyName()">Continue</button></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="footer text-center">
                        <p>We care about security</p>
                        
                    </div>
                    
                </div>
            </div>
            
            <div class="clearfix"></div>
        </div>
        </div>
    
</section>
<!-- END CONTENT -->
  
<!-- end body classes fix --> </div>