<!-- start body classes fix --> <div class="last-step">

<!-- BEGIN navbar -->
<div class="nav-bar navbar-fixed-top">
    <div class="containerfluid">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="" routerLink="/">
                <span class="B">B</span><span>Buildaily</span>
            </a>
        </div>
        <!-- END LOGO -->
        <!-- START LOGIN -->
        <div class="page-login">
            <span>Already have an account?</span>
            <a href="" routerLink="/login">
                <span>LOGIN</span>
            </a>
        </div>
        <!-- END LOGIN -->
        <div class="clearfix"></div>
    </div>
</div>
<!-- END navbar -->

<!-- START CONTENT -->
<section class="main-content">
  <div class="container-fluid">
      <div class="row">
         
         
        <div class="col-sm-4 hidden-xs">
          <div class="right-content text-center">
              <img src="./assets/pages/img/general/lock.png" alt="">
              <h3>One account to control <br> them all</h3>
              <p class="">Create one account, and control all your construction apps from one place</p>
              <div class="row text-center">
                  <div class="col-xs-4">
                      <div class="b-wrapper first">
                          B
                      </div>
                      <span class="market">Marketplace</span>
                  </div>
                  <div class="col-xs-4">
                      <div class="b-wrapper middle">
                          B
                      </div>
                      <span class="manage">Manage</span>
                  </div>
                  <div class="col-xs-4">
                      <div class="b-wrapper last">
                          B
                      </div>
                      <span class="connect">Connect</span>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="col-sm-8 col-sm-pull-4">
          <div class="left-content text-center">
             
              <h1>Create new account</h1>
              
              <div class="step-wrapper hidden-xs">
                  <div class="col-sm-4 mt-step-col first done img">
                      <div class="mt-step-number bg-white">
                          <img src="./assets/pages/img/steps/done.png" alt="">
                      </div>
                      <div class="mt-step-title uppercase font-grey-cascade">Step 1</div>
                      <div class="mt-step-content font-grey-cascade">Choose your plan</div>
                  </div>
                  <div class="col-sm-4 mt-step-col active lines rakam not-img last-reached">
                      <div class="mt-step-number bg-white">
                          <img src="./assets/pages/img/steps/done.png" alt="">
                      </div>
                      <div class="mt-step-title uppercase font-grey-cascade">Step 2</div>
                      <div class="mt-step-content font-grey-cascade">Your company info</div>
                  </div>
                  <div class="col-sm-4 mt-step-col active display-bott-arr current title-bold rakam not-img">
                      <div class="mt-step-number bg-white">
                          <span class="active-2">3</span>
                      </div>
                      <div class="mt-step-title uppercase font-grey-cascade">Step 3</div>
                      <div class="mt-step-content font-grey-cascade">Your personal info</div>
                  </div>
                  <div class="clearfix"></div>
              </div>
              
              <div class="contact-form">
                  <div class="form-table text-center">
                      <span class="back" routerLink="/signup-2"><img src="./assets/pages/img/steps/arrow-back-material.png" alt="">Back</span>
                      <h2>Step 3/3: Your personal info</h2>
                      <div class="form text-left">
                          <div class="form-body">
                              <div class="form-group first">
                                  <label class="control-label">Full name</label>
                                      <div class="valid-user"><img src="./assets/pages/img/steps/check-right.png" class="valid-user-check" alt=""><input tabindex="1" type="text" class="form-control username" placeholder="eg. Hazem Hassan" [(ngModel)]='userName'></div>
                                      <span class="user-error help-block">Type your first and last name!</span>
                                      <span class="after-user-error help-block">Your first and last name</span>
                              </div>
                              <div class="form-group">
                                  <label class="control-label">Email Address</label>
                                      <div class="valid-email"><img src="./assets/pages/img/steps/check-right.png" class="valid-email-check" alt=""><input tabindex="2" type="email" class="form-control email" placeholder="your-name@yourcompany.com"></div>
                                      <span class="email-error help-block">Type correct email!</span>
                                      <span class="after-email-error help-block">Your business email address</span>
                              </div>
                              <div class="form-group last">
                                  <label class="control-label">Password</label><span class="show">Show</span>
                                      <input tabindex="3" type="password" class="form-control password-input">
                                      <span class="password-error help-block">Type a password!</span>
                                      <span class="after-password-error help-block">Password strength: <span class="changable"></span></span>
                                      <!-- <span class="pass-meter hidden-sm hidden-md hidden-lg">
                                          <span class="pass-meter-color"></span>
                                      </span> -->
                              </div>
                              <a href="" routerLink="/activate-account"><button class="continue" type="submit" (click)='getUserName()'>Create my account</button></a>
                          </div>
                      </div>
                  </div>
              </div>
              
              <div class="footer text-center">
                  <p>We care about security</p>
                  
              </div>
              
          </div>
      </div>
      
      <div class="clearfix"></div>
      </div>
  </div>
</section>
<!-- END CONTENT -->

<!-- end body classes fix --> </div>